/* Add CSS Styling */
.odd{
    background-color: hsl(350, 100%, 88%);
    font-family: Verdana, Dejavu sans, sans-serif;

}
.adjust-font-size {
    font-size: 24px;
}

#div-1{
    color: #0000ff;
    font-size: 36px;
}

#div-3{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}