
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  font-size: 16px;
  width: 440px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
  
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin-top: 10px;

}

.content {
  background: #e3f4ff;
  padding: 18px;
  margin: 5px;
}

.button-container {
  background: #e3f4ff;
  padding: 25px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  width: 150px;
  padding: 18px;  
}